body {

  margin: 0%;
  padding: 0%;

  overflow: hidden;

}

#erba{

  position: absolute;
  top: 90%;
  width: 100%;
  height: 20%;
}

#palla{

  position: absolute;

  top: 85%;
  left: 50%;

  width: 5%;
  height: auto;

  transition: linear 3s;
}